$grey-color: #33323D;


.header__section{

  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0;
  }

  &-logo{
    width: 60px;
    height: 32px;
  }
}

.header__nav{

  &-list{
    display: flex;width: 306px;
    justify-content: space-between;
  }

  &-link{
    font-family: "PublicSans";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 14.32px;
    color: $grey-color;
  }
}